<a href="https://colab.research.google.com/github/YuichH/ML/blob/main/Kaggle/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [ ]:
train = pd.read_csv("/kaggle/input/titanic/train.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
gender_submission = pd.read_csv("/kaggle/input/titanic/gender_submission.csv")
gender_submission.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [ ]:
test = pd.read_csv("/kaggle/input/titanic/test.csv")
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
train = pd.get_dummies(train, columns=['Sex', 'Embarked'])
train = train.drop("Name", axis=1)
train = train.drop("Cabin", axis=1)
train = train.drop("Ticket", axis=1)
train['Fare'] = train['Fare'].fillna(train['Fare'].median())
train['Age'] = train['Age'].fillna(train['Age'].median())
train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
Sex_female     0
Sex_male       0
Embarked_C     0
Embarked_Q     0
Embarked_S     0
dtype: int64

In [ ]:
X_train = train.drop('PassengerId', axis=1)
X_train = X_train.drop('Survived', axis=1)
X_train.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,22.0,1,0,7.2500,0,1,0,0,1
1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,26.0,0,0,7.9250,1,0,0,0,1
3,1,35.0,1,0,53.1000,1,0,0,0,1
4,3,35.0,0,0,8.0500,0,1,0,0,1

In [ ]:
y_train = train["Survived"]
y_train.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=3,random_state=0)
model.fit(X_train,y_train)

RandomForestClassifier(n_estimators=3, random_state=0)

In [ ]:
from sklearn.model_selection import cross_val_score
cv_model_titanic = cross_val_score(model,X_train,y_train,cv=5)

In [ ]:
print(cv_model_titanic.mean())
print(cv_model_titanic.std())

0.80023225158496
0.020512221540308226

In [ ]:
from sklearn.metrics import accuracy_score,recall_score,precision_score,f1_score
x_train_prediction = model.predict(X_train)
print("タイタニックデータにおける精度，正解率（Accuracy）は",accuracy_score(y_train,x_train_prediction))
print("タイタニックデータにおける再現率（recall）は",recall_score(y_train,x_train_prediction))
print("タイタニックデータにおける適合率（precision）は",precision_score(y_train,x_train_prediction))
print("タイタニックデータにおけるF値（f1 value）は",f1_score(y_train,x_train_prediction))

タイタニックデータにおける精度，正解率（Accuracy）は 0.9393939393939394
タイタニックデータにおける再現率（recall）は 0.8947368421052632
タイタニックデータにおける適合率（precision）は 0.9444444444444444
タイタニックデータにおけるF値（f1 value）は 0.918918918918919

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [ ]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [ ]:
test = pd.get_dummies(test, columns=['Sex', 'Embarked'])
test = test.drop("Name", axis=1)
test = test.drop("Cabin", axis=1)
test = test.drop("Ticket", axis=1)
test['Fare'] = test['Fare'].fillna(test['Fare'].median())
test['Age'] = test['Age'].fillna(test['Age'].median())
test.isnull().sum()

PassengerId    0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
Sex_female     0
Sex_male       0
Embarked_C     0
Embarked_Q     0
Embarked_S     0
dtype: int64

In [ ]:
X_test = test.drop('PassengerId', axis=1)
# X_test = test.drop('Survived', axis=1)
X_test.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,34.5,0,0,7.8292,0,1,0,1,0
1,3,47.0,1,0,7.0000,1,0,0,0,1
2,2,62.0,0,0,9.6875,0,1,0,1,0
3,3,27.0,0,0,8.6625,0,1,0,0,1
4,3,22.0,1,1,12.2875,1,0,0,0,1

In [ ]:
prediction = model.predict(X_test)
type(prediction)

numpy.ndarray

In [ ]:
PassengerId = np.array(test["PassengerId"]).astype(int)
type(PassengerId)

numpy.ndarray

In [ ]:
c = np.column_stack([PassengerId, prediction])
c

array([[ 892,    0],
       [ 893,    0],
       [ 894,    0],
       [ 895,    0],
       [ 896,    0],
       [ 897,    0],
       [ 898,    1],
       [ 899,    0],
       [ 900,    1],
       [ 901,    0],
       [ 902,    0],
       [ 903,    0],
       [ 904,    1],
       [ 905,    0],
       [ 906,    1],
       [ 907,    1],
       [ 908,    0],
       [ 909,    0],
       [ 910,    0],
       [ 911,    1],
       [ 912,    1],
       [ 913,    1],
       [ 914,    1],
       [ 915,    1],
       [ 916,    1],
       [ 917,    0],
       [ 918,    1],
       [ 919,    0],
       [ 920,    1],
       [ 921,    0],
       [ 922,    0],
       [ 923,    0],
       [ 924,    1],
       [ 925,    0],
       [ 926,    0],
       [ 927,    0],
       [ 928,    1],
       [ 929,    0],
       [ 930,    0],
       [ 931,    1],
       [ 932,    0],
       [ 933,    1],
       [ 934,    0],
       [ 935,    1],
       [ 936,    1],
       [ 937,    0],
       [ 938,    1],
       [ 939,    0],
       [ 940,    1],
       [ 941,    0],
       [ 942,    0],
       [ 943,    0],
       [ 944,    1],
       [ 945,    1],
       [ 946,    0],
       [ 947,    0],
       [ 948,    0],
       [ 949,    0],
       [ 950,    0],
       [ 951,    1],
       [ 952,    0],
       [ 953,    0],
       [ 954,    0],
       [ 955,    1],
       [ 956,    0],
       [ 957,    1],
       [ 958,    1],
       [ 959,    0],
       [ 960,    0],
       [ 961,    1],
       [ 962,    1],
       [ 963,    0],
       [ 964,    0],
       [ 965,    0],
       [ 966,    1],
       [ 967,    0],
       [ 968,    0],
       [ 969,    0],
       [ 970,    0],
       [ 971,    1],
       [ 972,    1],
       [ 973,    0],
       [ 974,    0],
       [ 975,    0],
       [ 976,    0],
       [ 977,    0],
       [ 978,    1],
       [ 979,    1],
       [ 980,    1],
       [ 981,    1],
       [ 982,    0],
       [ 983,    1],
       [ 984,    1],
       [ 985,    0],
       [ 986,    0],
       [ 987,    0],
       [ 988,    1],
       [ 989,    0],
       [ 990,    1],
       [ 991,    0],
       [ 992,    1],
       [ 993,    0],
       [ 994,    0],
       [ 995,    0],
       [ 996,    0],
       [ 997,    0],
       [ 998,    0],
       [ 999,    0],
       [1000,    0],
       [1001,    0],
       [1002,    0],
       [1003,    1],
       [1004,    1],
       [1005,    1],
       [1006,    1],
       [1007,    1],
       [1008,    0],
       [1009,    1],
       [1010,    0],
       [1011,    1],
       [1012,    1],
       [1013,    0],
       [1014,    1],
       [1015,    0],
       [1016,    0],
       [1017,    1],
       [1018,    0],
       [1019,    1],
       [1020,    0],
       [1021,    0],
       [1022,    1],
       [1023,    0],
       [1024,    0],
       [1025,    0],
       [1026,    1],
       [1027,    0],
       [1028,    0],
       [1029,    0],
       [1030,    1],
       [1031,    0],
       [1032,    0],
       [1033,    1],
       [1034,    0],
       [1035,    0],
       [1036,    0],
       [1037,    0],
       [1038,    0],
       [1039,    0],
       [1040,    1],
       [1041,    0],
       [1042,    1],
       [1043,    0],
       [1044,    0],
       [1045,    0],
       [1046,    0],
       [1047,    0],
       [1048,    1],
       [1049,    1],
       [1050,    0],
       [1051,    1],
       [1052,    1],
       [1053,    1],
       [1054,    1],
       [1055,    1],
       [1056,    0],
       [1057,    0],
       [1058,    0],
       [1059,    0],
       [1060,    1],
       [1061,    0],
       [1062,    1],
       [1063,    0],
       [1064,    0],
       [1065,    0],
       [1066,    0],
       [1067,    1],
       [1068,    1],
       [1069,    1],
       [1070,    1],
       [1071,    1],
       [1072,    0],
       [1073,    0],
       [1074,    1],
       [1075,    0],
       [1076,    1],
       [1077,    0],
       [1078,    1],
       [1079,    0],
       [1080,    0],
       [1081,    0],
       [1082,    0],
       [1083,    0],
       [1084,    1],
       [1085,    0],
       [1086,    0],
       [1087,    0],
       [1088,    1],
       [1089,    1],
       [1090,    0],
       [1091,    1],
       [1092,    1],
       [1093,    1],
       [1094,    0],
       [1095,    1],
       [1096,    0],
       [1097,    0],
       [1098,    1],
       [1099,    0],
       [1100,    1],
       [1101,    0],
       [1102,    0],
       [1103,    1],
       [1104,    0],
       [1105,    0],
       [1106,    0],
       [1107,    0],
       [1108,    1],
       [1109,    0],
       [1110,    1],
       [1111,    0],
       [1112,    1],
       [1113,    0],
       [1114,    1],
       [1115,    0],
       [1116,    0],
       [1117,    0],
       [1118,    0],
       [1119,    1],
       [1120,    0],
       [1121,    0],
       [1122,    0],
       [1123,    1],
       [1124,    0],
       [1125,    0],
       [1126,    1],
       [1127,    0],
       [1128,    1],
       [1129,    0],
       [1130,    1],
       [1131,    1],
       [1132,    0],
       [1133,    1],
       [1134,    0],
       [1135,    0],
       [1136,    0],
       [1137,    0],
       [1138,    1],
       [1139,    0],
       [1140,    1],
       [1141,    0],
       [1142,    1],
       [1143,    0],
       [1144,    0],
       [1145,    0],
       [1146,    0],
       [1147,    1],
       [1148,    0],
       [1149,    0],
       [1150,    1],
       [1151,    0],
       [1152,    0],
       [1153,    0],
       [1154,    1],
       [1155,    1],
       [1156,    0],
       [1157,    0],
       [1158,    0],
       [1159,    1],
       [1160,    1],
       [1161,    0],
       [1162,    0],
       [1163,    0],
       [1164,    1],
       [1165,    1],
       [1166,    0],
       [1167,    1],
       [1168,    0],
       [1169,    0],
       [1170,    0],
       [1171,    0],
       [1172,    0],
       [1173,    1],
       [1174,    1],
       [1175,    0],
       [1176,    1],
       [1177,    0],
       [1178,    1],
       [1179,    0],
       [1180,    0],
       [1181,    0],
       [1182,    0],
       [1183,    1],
       [1184,    0],
       [1185,    0],
       [1186,    0],
       [1187,    0],
       [1188,    1],
       [1189,    0],
       [1190,    0],
       [1191,    0],
       [1192,    0],
       [1193,    0],
       [1194,    0],
       [1195,    0],
       [1196,    1],
       [1197,    1],
       [1198,    1],
       [1199,    1],
       [1200,    0],
       [1201,    0],
       [1202,    0],
       [1203,    0],
       [1204,    1],
       [1205,    0],
       [1206,    1],
       [1207,    1],
       [1208,    1],
       [1209,    0],
       [1210,    0],
       [1211,    0],
       [1212,    0],
       [1213,    0],
       [1214,    0],
       [1215,    1],
       [1216,    1],
       [1217,    0],
       [1218,    1],
       [1219,    0],
       [1220,    0],
       [1221,    0],
       [1222,    1],
       [1223,    1],
       [1224,    0],
       [1225,    0],
       [1226,    0],
       [1227,    0],
       [1228,    0],
       [1229,    0],
       [1230,    0],
       [1231,    0],
       [1232,    0],
       [1233,    0],
       [1234,    0],
       [1235,    1],
       [1236,    0],
       [1237,    1],
       [1238,    0],
       [1239,    1],
       [1240,    0],
       [1241,    1],
       [1242,    1],
       [1243,    0],
       [1244,    0],
       [1245,    0],
       [1246,    1],
       [1247,    0],
       [1248,    1],
       [1249,    0],
       [1250,    0],
       [1251,    1],
       [1252,    0],
       [1253,    1],
       [1254,    1],
       [1255,    0],
       [1256,    1],
       [1257,    0],
       [1258,    0],
       [1259,    0],
       [1260,    1],
       [1261,    1],
       [1262,    0],
       [1263,    1],
       [1264,    0],
       [1265,    0],
       [1266,    1],
       [1267,    1],
       [1268,    0],
       [1269,    0],
       [1270,    0],
       [1271,    0],
       [1272,    0],
       [1273,    0],
       [1274,    1],
       [1275,    0],
       [1276,    0],
       [1277,    1],
       [1278,    0],
       [1279,    0],
       [1280,    0],
       [1281,    0],
       [1282,    0],
       [1283,    1],
       [1284,    0],
       [1285,    0],
       [1286,    0],
       [1287,    1],
       [1288,    0],
       [1289,    1],
       [1290,    0],
       [1291,    0],
       [1292,    1],
       [1293,    0],
       [1294,    1],
       [1295,    0],
       [1296,    1],
       [1297,    1],
       [1298,    0],
       [1299,    0],
       [1300,    1],
       [1301,    1],
       [1302,    1],
       [1303,    1],
       [1304,    0],
       [1305,    0],
       [1306,    1],
       [1307,    0],
       [1308,    0],
       [1309,    1]])

In [ ]:
result = pd.DataFrame(c, columns = ["PassengerId", "Survived"])
result.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [ ]:
result.to_csv("submission.csv", index=False)